<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M3rcurylake :: Offshore</title>
    <link rel="stylesheet" href="stylesheet.css">
</head>
<body class="text-center max-w-3xl mx-auto prose p-5">
    <h1 class="underline md:mt-20 mt-14 decoration-red-400 font-JungleRock">M3rcurylake</h1>
    <h3 class="text-slate-600 mb-20 px-2">Offshore...its quiet 'round here</h3>
    <p class="text-slate-900 font-Neucha text-lg font-semibold">Im just a natural, lazy coder.....looking for new people and new friends while listening to lofi and browsing chatrooms.....yep...coding is a inseperable part of my daily life now-a-days, I can put on lofi music and code for the rest of the day....Now all I am doing is wasting my free time (all of it, ig) on this site, useless codes and on blowing fairy dust...And I bet while ur reading this, Im wired in....im pretty efficient in basics of python, javascript, css, cryptography and linux......call me a nerd</p>
    <p class="text-slate-900 font-Neucha text-lg font-semibold">Im a high schooler, and a enthustiastic coder, and if you are wondering that do I even need a Onion site? well...no, I just wanted a place on the web secluded enough to seek peace. in short This place is home for all my psychological dysfunctioning. A place where I am in control, with no censorship or manupilation. A place where my words don't get mixed up with noise...</p>
    <p class="text-slate-900 font-Neucha text-lg font-semibold">Here is my clearnet presence...and also a better interface and music- <a href="http://m3rcurylake.pages.dev/">m3rcurylake.pages.dev</a>, And my github acct - <a href="https://github.com/m3rcurylake/">M3rcurylake</a>.</p>
    <a href="/post/" class="mt-20 relative inline-flex items-center justify-start px-6 py-3 overflow-hidden font-medium transition-all bg-red-500 rounded-xl group mb-10">
        <span class="absolute top-0 right-0 inline-block w-4 h-4 transition-all duration-500 ease-in-out bg-red-700 rounded group-hover:-mr-4 group-hover:-mt-4">
        <span class="absolute top-0 right-0 w-5 h-5 rotate-45 translate-x-1/2 -translate-y-1/2 bg-white"></span>
        </span>
        <span class="absolute bottom-0 left-0 w-full h-full transition-all duration-300 ease-in-out delay-200 -translate-x-full translate-y-full bg-red-600 rounded-2xl group-hover:mb-12 group-hover:translate-x-0"></span>
        <span class="font-BebasNeue text-base relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-white">Check Out My Blogs</span>
    </a>
</body>
</html>
