<article>
    <div  class="text-slate-700  mt-20 bg-white mb-20" >
        <figure>
            
            <div class="pt-6">
                <h1 class="mb-2">{Title}</h1>
                <p class="underline mb-10 font-medium">written on {date}</p>
                <p class="text-sm underline mb-10 font-medium md:block hidden ">word count - {wordCount}, reading time {readingTime}mins</p>
                <p class="font-medium mb-10">
                    {Content}
                </p>
                <a class="p-2 rounded-3xl border hover:bg-blue-300 hover:text-white" href="{sitePermalink}">Go back home</a>
                <div class="text-sky-500 mt-10 font-BebasNeue  text-lg">
                  All Right Reserved
                </div>
                <div class="text-slate-700 ">
                    {author} : <a class="text-slate-500" href="{sitePermalink}">M3rcurylake</a>
                </div>
              </p>
            </div>
          </figure>
    </div>
</article>